@model IEnumerable<AppLoginAspCoreHL.Models.Colaborador>

@{
    ViewData["Title"] = "Colaboradores";
}

<h1>Colaboradores</h1>

<a class="btn btn-primary" asp-action="Cadastrar">Cadastrar</a>

<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">@Html.DisplayNameFor(model => model.First().Id)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.First().Nome)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.First().Email)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.First().Senha)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.First().Tipo)</th>

                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Colaborador colaborador in Model)
            {
                <tr>
                    <th scope="row">@colaborador.Id</th>
                    <td>@colaborador.Nome</td>
                    <td>@colaborador.Email</td>
                    <td>@colaborador.Senha</td>
                    <td>@colaborador.Tipo</td>

                    <td>
                        @if (colaborador.Id != 1)
                        {
                            <a asp-action="Atualizar" asp-route-id="@colaborador.Id" class="btn btn-secondary">Atualizar</a>
                        }
                        @if (colaborador.Tipo == "C" && colaborador.Id != 1)
                        {
                            <a asp-action="Promover" asp-route-id="@colaborador.Id" class="btn btn-success"
                               onclick="return confirm('Deseja realmente promover este administrador para gerente?')">Promover</a>
                        }
                        else if (colaborador.Tipo == "G" && colaborador.Id != 1)
                        {
                            <a asp-action="Rebaixar" asp-route-id="@colaborador.Id" class="btn btn-warning"
                               onclick="return confirm('Deseja realmente rebaixar este administrador para comum?')">Rebaixar</a>
                        }
                        @if (colaborador.Id != 1)
                        {
                            <a asp-action="Excluir" asp-route-id="@colaborador.Id" class="btn btn-danger"
                            onclick="return confirm('Deseja realmente excluir?')">Excluir</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>