@model IEnumerable<AppLoginAspCoreHL.Models.ItensPedido>

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes do Pedido @ViewData["Nm_ped"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Produto
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QtItens)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VlTotal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    <figure class="media">
                        <div class="img-wrap">
                            <img alt="Thumbnail [300x300]" style="width: 70px; height: 100px;" src="@item.Imagem">
                        </div>
                        <figcaption class="media-body" style="margin-left:1vw;">
                            <h6 class="title text-truncate" style="font-size:larger">   @item.Titulo_liv</h6>
                        </figcaption>
                    </figure>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QtItens)
                </td>
                <td>
                    @item.VlTotal.ToString("C")
                </td>
        </tr>
}
    </tbody>
</table>
<a asp-action="Index" class="btn btn-outline-primary btn-sm">Voltar</a>
