@model IEnumerable<AppLoginAspCoreHL.Models.Livro>

@{
    ViewData["Title"] = "Index";
    double Subtotal = 0;
    foreach (var item in Model)
    {
        double ValorItens = (item.Preco * item.QuantidadeEstq);
        Subtotal = Subtotal + ValorItens;
    };
}
<head>
    <style>
        .card-hidden {
            display: none;
        }
    </style>
</head>

<div class="container">
    <section id="order">
        <br />
        <br />
        <h2 class="title-doc">Carrinho de compras</h2>
        <div class="alert alert-danger" style="display: none;" role="alert">
        </div>

        <div id="code_cart">
            <div class="card">
                <table class="table table-hover shopping-cart-wrap">
                    <thead class="text-muted">
                        <tr>
                            <th scope="col">Produto</th>
                            <th scope="col" width="120">Quantidade</th>
                            <th scope="col" width="120">Preço</th>
                            <th scope="col" width="200" class="text-right">Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <figure class="media">
                                        <div class="img-wrap">

                                            <img alt="Thumbnail [300x300]" style="width: 40px; height: 40px;" src="@item.Imagem">
                                        </div>
                                        <figcaption class="media-body">
                                            <h6 class="title text-truncate">@item.Titulo</h6>
                                            <dl class="dlist-inline small">
                                                <dt>Codigo Livro: @item.Id </dt>
                                                @* <dd>@item.codLivro </dd> *@
                                            </dl>
                                        </figcaption>
                                    </figure>
                                </td>
                                <td>
                                    <div class="col-auto">
                                        <div class="input-group mb-2 control-inline">
                                            
                                            <input type="hidden" class="inputQuantidadeEstoque" value="@item.QuantidadeEstq" />
                                            <input type="hidden" class="inputValorUnitario" value="@item.Preco" />

                                            <input type="hidden" class="inputProdutoId" value="@item.Id" />
                                            <div class="d-flex flex-row">
                                                @using (Html.BeginForm("DiminuirItem", "Home", FormMethod.Post))
                                                {
                                                 <input type="hidden" name="id" value=@item.Id>
                                                    <button type="submit" class="btn btn-outline-primary">-</button>
                                                }
                                                <input type="number" style="width: 60px; text-align: center" readonly="readonly"
                                                       class="form-control inputQuantidadeProdutoCarrinho" value="@item.QuantidadeEstq" min="0">
                                                @using (Html.BeginForm("AdicionarItem", "Home", FormMethod.Post))
                                                {
                                                    <input type="hidden" name="id" value=@item.Id>
                                                    <button type="submit" class="btn btn-outline-primary">+</button>
                                                }
                                            </div>


                                        </div>
                                    </div>
                                </td>
                                @{
                                    double preco = item.Preco * item.QuantidadeEstq;
                                    Math.Round(preco, 2);
                                }
                                <td>
                                    <div class="col-auto">
                                        <dl class="dlist-inline small">
                                            <dt>@preco.ToString("C")</dt>
                                            
                                        </dl>
                                    </div>
                                </td>
                                <td class="text-right">
                                    <a asp-controller="Home" asp-action="RemoverItem" asp-route-id="@item.Id" class="btn btn-outline-danger"> × Remover</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <br />
    <br />
</div>



<div class="card shadow-2-strong mb-5 mb-lg-0" style="border-radius: 16px;">
    <div class="card-body p-4">

        <div class="row">
            <div class="col-md-6 col-lg-4 col-xl-3 mb-4 mb-md-0">
                <form>
                    <div class="d-flex flex-row pb-3">
                        <div class="d-flex align-items-center pe-2">
                            <input class="form-check-input" type="radio" name="radioNoLabel" id="radioNoLabel1v"
                                   value="" aria-label="..." checked />
                        </div>
                        <div class="rounded border w-100 p-3">
                            <p class="d-flex align-items-center mb-0">Cartão de Crédito
                            </p>
                        </div>
                    </div>
                    <div class="d-flex flex-row pb-3">
                        <div class="d-flex align-items-center pe-2">
                            <input class="form-check-input" type="radio" name="radioNoLabel" id="radioNoLabel2v"
                                   value="" aria-label="..." />
                        </div>
                        <div class="rounded border w-100 p-3">
                            <p class="d-flex align-items-center mb-0"></i>Cartão de Débito
                            </p>
                        </div>
                    </div>
                    <div class="d-flex flex-row">
                        <div class="d-flex align-items-center pe-2">
                            <input class="form-check-input" type="radio" name="radioNoLabel" id="radioNoLabel3v"
                                   value="" aria-label="..." />
                        </div>
                        <div class="rounded border w-100 p-3">
                            <p class="d-flex align-items-center mb-0"></i>PIX
                            </p>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-6 card-hidden" id="cardDetails">
                <div class="row">
                    <div class="col-12 col-xl-6">
                        <div data-mdb-input-init class="form-outline mb-4 mb-xl-5">
                            <input type="text" id="typeName" class="form-control form-control-lg" siez="17"
                                   placeholder="João Pedro" />
                            <label class="form-label" for="typeName">Nome no Cartão</label>
                        </div>

                        <div data-mdb-input-init class="form-outline mb-4 mb-xl-5">
                            <input type="text" id="typeExp" class="form-control form-control-lg" placeholder="MM/YY"
                                   size="7" id="exp" minlength="7" maxlength="7" />
                            <label class="form-label" for="typeExp">Validade</label>
                        </div>
                    </div>
                    <div class="col-12 col-xl-6">
                        <div data-mdb-input-init class="form-outline mb-4 mb-xl-5">
                            <input type="text" id="typeText" class="form-control form-control-lg" siez="17"
                                   placeholder="1111 2222 3333 4444" minlength="19" maxlength="19" />
                            <label class="form-label" for="typeText">Número do cartão</label>
                        </div>

                        <div data-mdb-input-init class="form-outline mb-4 mb-xl-5">
                            <input type="password" id="typeText" class="form-control form-control-lg"
                                   placeholder="&#9679;&#9679;&#9679;" size="1" minlength="3" maxlength="3" />
                            <label class="form-label" for="typeText">Cvv</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xl-3 position-relative">
                <div class="d-flex justify-content-between" style="font-weight: 500;">
                    <p class="mb-2">Subtotal</p>
                    <p class="mb-2">@Subtotal.ToString("C")</p>
                </div>

                <hr class="my-4">

                <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block btn-lg">
                    <a class="btn btn-primary btn-continuar-comprando" asp-action="SalvarCarrinho" asp-controller="Home">
                        Finalizar o Empréstimo
                    </a>
                </button>

            </div>
        </div>

    </div>
</div>



<div class="container">
    <br />
    <br />
    <div class="row">
        <div class="col-md-12">
            Deseja adicionar outro? <a asp-controller="Home" asp-action="Index">Clique aqui</a> para continuar ...
        </div>
    </div>
</div>


        <script>
            // Selecionando os radios
            const radioCredit = document.getElementById('radioNoLabel1v');
            const radioDebit = document.getElementById('radioNoLabel2v');
            const radioPix = document.getElementById('radioNoLabel3v');
            // Selecionando os elementos de input que devem aparecer ou desaparecer
            const cardDetails = document.getElementById('cardDetails');

            // Função para mostrar ou esconder os inputs baseado no estado dos radios
            function toggleInputs() {
                if (radioPix.checked) {
                    cardDetails.classList.add('card-hidden');
                }
                // else if (radio2.checked) {
                //     cardDetails.classList.add('hidden');
                //     debitDetails.classList.remove('hidden');
                // }
                else {
                    cardDetails.classList.remove('card-hidden');
                }
            }

            // Adicionando um listener para os radios para chamar a função toggleInputs quando mudarem
            radioCredit.addEventListener('change', toggleInputs);
            radioDebit.addEventListener('change', toggleInputs);
            radioPix.addEventListener('change', toggleInputs);


            // Chamando a função toggleInputs inicialmente para configurar o estado inicial
            toggleInputs();
        </script>
