@model AppLoginAspCoreHL.Models.Livro

@{
    ViewData["Title"] = "Detalhes";
}
    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="@Model.Imagem" alt="..." /></div>
                <div class="col-md-6">
                    <div class="small mb-1">@Model.Autor</div>
                    <h1 class="display-5 fw-bolder">@Model.Titulo</h1>
                    <div class="fs-5 mb-5">
                        <span>@Model.Preco.ToString("C")</span>
                    </div>
                    <p class="lead">@Model.Descricao</p>
                    <div class="d-flex">
                        @using (Html.BeginForm("AdicionarItem", "Home", FormMethod.Post))
                        {
                            <input type="hidden" name="id" value=@Model.Id>
                            <input type="hidden" name="quantidade" value="1">
                            <button class="btn btn-outline-dark flex-shrink-0 btn-acao-primario" type="submit">
                                <i class="bi-cart-fill me-1"></i>
                                Adicionar ao carrinho
                            </button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
<div>
    @Html.ActionLink("Comprar", "AdicionarItem", new { id = Model.Id }) |
    <a asp-action="Index">Voltar</a>
</div>
