@model IEnumerable<AppLoginAspCoreHL.Models.Livro>

@{
    ViewBag.Title = "Home";
  }

  <head>
    <style type="text/css">
        button:hover {
            transform: scale(1.2);
        }

        .checked {
            color: orange;
        }

        .d-flex {
            width: auto;
        }

        .w-100 {
            width: 100% !important;
            height: auto;
            margin-top: 5vw;}
    </style>
  </head>

<main role="main" class="pb-3">

    <div id="principal" class="carousel slide mb-10" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#principal" data-slide-to="0" class="active"></li>
            <li data-target="#principal" data-slide-to="1"></li>
            <li data-target="#principal" data-slide-to="2"></li>
            <li data-target="#principal" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="~/img/principal/1.png" alt="Primeiro Slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="~/img/principal/2.png" alt="Segundo Slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="~/img/principal/3.png" alt="Terceiro Slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="~/img/principal/4.png" alt="Quarto Slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#principal" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#principal" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Próximo</span>
        </a>
    </div>


    <div style="display: flex">
        <div style="margin-top:2vw; margin-bottom:1vw; color:#7D95FF; text-shadow: 1px 1px 1px black; font-size: 2vw">Populares</div>

        <div style="margin-top:4vw;color:#7D95FF; text-shadow: 0.5px 0.5px 0.5px black; font-size: 1.2vw; margin-left: 80%"><a href="home/TodosLivros">veja mais...</a></div>
    </div>


    <div style="display: flex">
           
                            @foreach (var item in Model)
                            {
                                if (item.Situacao == "H" && item.Id <= 4)
                                {
                <div class="col mb-5" style="width:calc(100%/4)">
                    <div class="card h-100">
                        <!-- Product image-->
                        <a asp-controller="Home" asp-action="Detalhes" asp-route-id="@item.Id" style="color:black"> <img class="card-img-top" style="height: 25vw" src="@item.Imagem" /></a>
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                    <a asp-controller="Home" asp-action="Detalhes" asp-route-id="@item.Id" style="color: black;">@item.Titulo</a>
                                </h5>
                                <!-- Product price-->
                                <div style="float: left">
                                    <div style="margin-top: 1vw;">
                                        @for (var i = 1; i <= 3; i++)
                                        {
                                            <span class="fa fa-star checked"></span>
                                        }

                                        @for (var o = 1; o <= 2; o++)
                                        {
                                            <span class="fa fa-star"></span>
                                        }
                                    </div>
                                    <div style="margin-top: 1vw;margin-left:-2vw">@item.Preco.ToString("C")</div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent d-flex justify-content-center">
                            @using (Html.BeginForm("AdicionarItem", "Home", FormMethod.Post))
                            {
                                <input type="hidden" name="id" value=@item.Id>
                                <input type="hidden" name="quantidade" value="1">
                                <button type="submit" class="btn btn-primary btn-acao-primario" style="background-color:#7D95FF; border-color:#7D95FF ; transition: transform 1.5s" ;>Adicionar</button>
                            }
                        </div>
                    </div>
                </div>
                                }
                            }
        
    </div>


    <div style="display: flex">
        <div style="margin-top:2vw; margin-bottom:1vw; color:#7D95FF; text-shadow: 1px 1px 1px black; font-size: 2vw">Lançamentos</div>

        <div style="margin-top:4vw;color:#7D95FF; text-shadow: 0.5px 0.5px 0.5px black; font-size: 1.2vw; margin-left: 76%"><a href="home/TodosLivros">veja mais...</a></div>
    </div>


    <div style="display: flex">

        @foreach (var item in Model)
        {
            if (item.Situacao == "H" && item.Id > 4 && item.Id <= 8)
            {
                <div class="col mb-5" style="width:calc(100%/4)">
                    <div class="card h-100">
                        <!-- Product image-->
                        <a asp-controller="Home" asp-action="Detalhes" asp-route-id="@item.Id" style="color:black"> <img class="card-img-top" style="height: 25vw" src="@item.Imagem" /></a>
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                    <a asp-controller="Home" asp-action="Detalhes" asp-route-id="@item.Id" style="color: black;">@item.Titulo</a>
                                </h5>
                                <!-- Product price-->
                                <div style="float:left">
                                    <div style="margin-top: 1vw;">
                                        @for (var i = 1; i <= 3; i++)
                                        {
                                            <span class="fa fa-star checked"></span>
                                        }

                                        @for (var o = 1; o <= 2; o++)
                                        {
                                            <span class="fa fa-star"></span>
                                        }
                                    </div>
                                    <div style="margin-top: 1vw; margin-left: -2vw">@item.Preco.ToString("C")</div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent d-flex justify-content-center">
                            @using (Html.BeginForm("AdicionarItem", "Home", FormMethod.Post))
                            {
                                <input type="hidden" name="id" value=@item.Id>
                                <input type="hidden" name="quantidade" value="1">
                                <button type="submit" class="btn btn-primary btn-acao-primario" style="background-color:#7D95FF; border-color:#7D95FF ; transition: transform 1.5s" ;>Adicionar</button>
                            }
                        </div>
                    </div>
                </div>
            }
        }

    </div>


    <div style="margin-top:2vw; margin-bottom:1vw; color:#7D95FF; text-shadow: 1px 1px 1px black; font-size: 2vw">Saiba Mais</div>
    <div class="col mx-auto text-center">
        <a href="home/SaibaMais"><img src="~/img/principal/8.png" style="; margin-top: 2%; width:60%;" class="img-responsive" /></a>
    </div>




    <div style="margin-top:2vw; margin-bottom:1vw; color:#7D95FF; text-shadow: 1px 1px 1px black; font-size: 2vw">Diferencial</div>
    <div style="display:flex">

        @* Card 1 *@
        <div class="card" style="width: 18rem; margin-left:8%; border: none;">
            <img class="card-img-top" style="border-radius: 1.5vw" src="~/img/principal/5.png">
            <div class="card-body">
                <p class="card-title d-flex justify-content-center" style="font-weight: bold; font: 1.5vw Nunito, arial">Custo Baixo</p>
                <p class="card-text" style="text-align:justify; font: 0.85vw Nunito, arial">
                    Explore a Prisma e descubra preços irresistíveis que cabem no seu orçamento. Encontre obras variadas e em excelente estado por um valor acessível, tornando cada compra uma oportunidade econômica para renovar sua biblioteca pessoal.
                </p>
            </div>
        </div>

        @* Card 2 *@
        <div class="card" style="width: 18rem; margin-left:8%; border: none;">
            <img class="card-img-top" style="border-radius: 1.5vw" src="~/img/principal/6.png">
            <div class="card-body">
                <p class="card-title d-flex justify-content-center" style="font-weight: bold; font: 1.5vw Nunito, arial">Velocidade</p>
                <p class="card-text" style="text-align:justify; font: 0.85vw Nunito, arial">
                    Experimente a entrega ultrarrápida da Prisma, garantindo que seus livros cheguem rapidamente às suas mãos. Com um serviço de logística eficiente, você recebe suas obras favoritas em tempo recorde, sem esperas prolongadas.
                </p>
            </div>
        </div>

        @* Card 3 *@
        <div class="card" style="width: 18rem; margin-left:8%; border: none;">
            <img class="card-img-top" style="border-radius: 1.5vw" src="~/img/principal/7.png">
            <div class="card-body">
                <p class="card-title d-flex justify-content-center" style="font-weight: bold; font: 1.5vw Nunito, arial">Sustentabilidade</p>
                <p class="card-text" style="text-align:justify; font: 0.85vw Nunito, arial">
                    Descubra a sustentabilidade na prática ao escolher a "Prisma". Contribua para o meio ambiente comprando livros pré-amados, promovendo a reutilização e reduzindo o impacto ambiental, sem abrir mão da qualidade literária.
                </p>
            </div>
        </div>
    </div>

</main>
