@model AppLoginAspCoreHL.Models.Cliente
@inject AppLoginAspCoreHL.Libraries.Login.LoginCliente _LoginCliente
@{
    ViewData["Title"] = "PainelUsuario";
}
<head>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body>
<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">@_LoginCliente.GetCliente().Nome</span><span class="text-black-50">@_LoginCliente.GetCliente().Login</span><span> </span></div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Perfil de Usuário</h4>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Nome</label><input type="text" class="form-control" value="@Model.Nome" readonly="readonly"></div>
                    <div class="col-md-12"><label class="labels">Data de Nascimento</label><input type="text" class="form-control" value="@Model.Nascimento.ToString("dd/MM/yyyy")" readonly="readonly"></div>
                    <div class="col-md-12"><label class="labels">CPF</label><input type="text" class="form-control" value="@Model.CPF" readonly="readonly"></div>
                    <div class="col-md-12"><label class="labels">Telefone</label><input type="text" class="form-control" value="@Model.Telefone" readonly="readonly"></div>
                    <div class="col-md-12"><label class="labels">Email</label><input type="text" class="form-control" value="@Model.Login" readonly="readonly"></div>
                    <div class="row">
                            <div class="col-md-10 mb-4 pb-2">
                                <label class="labels">Senha</label><input type="password" class="form-control" value="@Model.Senha" readonly="readonly" id="password">
                        </div>
                            <div class="col-md-2 mb-4 pb-2" style="margin-top:42px">
                            <i class="bi bi-eye-slash form-i" id="togglePassword" style="cursor:pointer;"></i>
                        </div>
                    </div>
                </div><br/>
                <div class="col-md-6"><a asp-action="EditUsuario" asp-route-id="@Model.Id" class="btn btn-primary">Atualizar</a></div><br/>
                <div class="col-md-6"><a asp-action="Index" class="btn btn-secondary">Voltar</a></div>
            </div>
        </div>
    </div>
</div>
    <script>
        const togglePassword = document
            .querySelector('#togglePassword');
        const password = document.querySelector('#password');
        togglePassword.addEventListener('click', () => {
            // Toggle the type attribute using
            // getAttribure() method
            const type = password
                .getAttribute('type') === 'password' ?
                'text' : 'password';
            password.setAttribute('type', type);
            // Toggle the eye and bi-eye icon
            this.classList.toggle('bi-eye');
        });
    </script>
</body>
