@model IEnumerable<AppLoginAspCoreHL.Models.ItensPedido>

@{
    ViewData["Title"] = "SalvarCarrinho";
}

<h1>SalvarCarrinho</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id_item)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id_liv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id_pedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QtItens)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VlTotal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id_item)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id_liv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id_pedido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtItens)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VlTotal)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
