
@inject AppLoginAspCoreHL.Libraries.Login.LoginCliente _LoginCliente

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> @ViewData["Title"] - Prisma</title>
    <link rel="icon" href="~/img/icones/livroaberto.ico">

    <style>


   
                .footer .column p, .footer .column a {
                    color: #bbb;
                    text-decoration: none;
                    margin: 5px 0;
                    display: block;
                    min-width:300px;
                }

                    .footer .column a:hover {
                        color: #fff;
                    }

            .footer .bottom {
                text-align: center;
                padding: 10px;
                border-top: 1px solid #444;
                margin-top: 20px;
                flex-basis: 100%;
            }


    </style>
</head>
<body>
    <header>
        @await Component.InvokeAsync("Menu")
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
@* 

@* 
    <div class="container">
        <footer class="py-3 my-4">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href=" @Url.Action("Index", "Home")" class="nav-link px-2 text-muted">Home</a></li>
                <li class="nav-item"><a href="@Url.Action("Index", "Home")" " class="nav-link px-2 text-muted">Features</a></li>
                <li class="nav-item"><a href="@Url.Action("Index", "Home")" " class="nav-link px-2 text-muted">Pricing</a></li>
                <li class="nav-item"><a href="@Url.Action("Index", "Home")" " class="nav-link px-2 text-muted">FAQs</a></li>
                <li class="nav-item"><a href="@Url.Action("Index", "Home")" " class="nav-link px-2 text-muted">About</a></li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="Colaborador" asp-controller="Home" asp-action="Login">Administrador</a>
                </li>
            </ul>
            <p class="text-center text-muted">&copy; 2022 Company, Inc</p>
        </footer> *@



    <footer class="footer" style="background-color:#070A0E; bottom:0; color:#fff; display:flex; justify-content:space-between; padding: 20px 50px; flex-wrap: wrap;">
            <div class="t">
                <img src="~/img/identidade/footer_logo.png" style="height:100px"  alt="Livraria Prisma Logo">
                <p>"Descubra novas perspectivas!"</p>
            </div>
            <div class="column">
                <h3>Contato</h3>
                <p>R. Guaipá, 678 - Vila Leopoldina</p>
                <p>Email: prismaliv@gmail.com</p>
                <p>Telefone: +55 11 98996-1293</p>
            </div>
            <div class="column">
                <h3>Redes Sociais</h3>
            <a href="https://www.instagram.com/prismalivraria/?utm_source=ig_web_button_share_sheet">Instagram: prismalivraria</a>
            <a href="https://www.facebook.com/p/Livraria-Prisma-61557928780050/">Facebook: prismalivraria</a>
            </div>
            <div class="column">
                <h3>Saiba Mais</h3>
            <a asp-area="" asp-controller="Home" asp-action="SaibaMais">Sobre nós</a>
            <a asp-area="Colaborador" asp-controller="Home" asp-action="Login">Entrar como administrador</a>
            <a href="https://br.linkedin.com/?src=go-pa&trk=sem-ga_campid.12619604099_asid.149519181275_crid.657343811728_kw.linkedin%20login_d.c_tid.kwd-12704335873_n.g_mt.e_geo.9196692&mcid=6821526239111716925&cid=&gad_source=1&gclid=EAIaIQobChMIhuOUzrT1hgMVEliRBR1zzAHbEAAYASABEgLI2_D_BwE&gclsrc=aw.ds">Acesse o linkedin</a>
            </div>

        <div class="bottom">
                &copy; 2024 Prisma Livraria | Todos direitos reservados
            </div>
        </footer>

        @* Css Geral *@
        <link href="~/css/site.css" rel="stylesheet" />

    @* @* Js Geral *@

    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>


    <script src="~/resources/lib/bootstrap-4.2.1-dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/resources/lib/feather/feather.js"></script>

    <script>

        $('.cep').mask('00000-000');
        $('.phone').mask('(00) 00000-0000');
        $('.cpf').mask('000.000.000-00', { reverse: true });
        $('.money').mask("#.##0,00", { reverse: true });
        $('.date').mask('00/00/0000');

    </script>


    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {

            function limpa_formulário_cep() {
                // Limpa valores do formulário de cep.
                $("#Estado").val("");
                $("#Cidade").val("");
                $("#Endereco").val("");
                $("#Bairro").val("");
                $("#Complemento").val("");
            }

            //Quando o campo cep perde o foco.
            $("#CEP").blur(function () {

                //Nova variável "cep" somente com dígitos.
                var cep = $(this).val().replace(/\D/g, '');

                //Verifica se campo cep possui valor informado.
                if (cep != "") {

                    //Expressão regular para validar o CEP.
                    var validacep = /^[0-9]{8}$/;

                    //Valida o formato do CEP.
                    if (validacep.test(cep)) {

                        //Preenche os campos com "..." enquanto consulta webservice.
                        $("#Estado").val("...");
                        $("#Cidade").val("...");
                        $("#Endereco").val("...");
                        $("#Bairro").val("...");
                        $("#Complemento").val("...");

                        //Consulta o webservice viacep.com.br/
                        $.getJSON("https://viacep.com.br/ws/" + cep + "/json/?callback=?", function (dados) {

                            if (!("erro" in dados)) {
                                //Atualiza os campos com os valores da consulta.
                                $("#Estado").val(dados.uf);
                                $("#Cidade").val(dados.localidade);
                                $("#Endereco").val(dados.logradouro);
                                $("#Bairro").val(dados.bairro);
                                $("#Complemento").val(dados.complemento);
                            } //end if.
                            else {
                                //CEP pesquisado não foi encontrado.
                                limpa_formulário_cep();
                                alert("CEP não encontrado.");
                            }
                        });
                    } //end if.
                    else {
                        //cep é inválido.
                        limpa_formulário_cep();
                        alert("Formato de CEP inválido.");
                    }
                } //end if.
                else {
                    //cep sem valor, limpa formulário.
                    limpa_formulário_cep();
                }
            });
        });
    </script>

    @* Js página Principal *@

    @*Links Gerais (arrumar depois) *@
    <link rel="stylesheet" href="https:stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https:cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    @await RenderSectionAsync("Scripts", required: false)
    <script src="https:code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https:stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</body>
</html>