@model AppLoginAspCoreHL.Models.Livro

@{
    ViewData["Title"] = "Detalhes do Livro";
}
<section class="py-5">
    <div class="d-flex">
        <a asp-action="Index" class="btn btn-outline-primary" style="margin-left: 50px">Voltar</a>
    </div>
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="@Model.Imagem" alt="..." /></div>
            <div class="col-md-6">
                <div class="small mb-1">@Model.Autor</div>
                <h1 class="display-5 fw-bolder">@Model.Titulo</h1>
                <div class="fs-5 mb-5">
                    <span>@Model.Preco.ToString("C") | @Model.NumeroPags páginas | @Model.categoria.nome</span>
                </div>
                <p class="lead d-flex justify-content-center" style="text-align: justify;">@Model.Descricao</p>
            </div>
        </div>
    </div>
</section>
