@model IEnumerable<AppLoginAspCoreHL.Models.Livro>

@{
    ViewData["Title"] = "Index";
}

<h1>Livros</h1>

<a class="btn btn-outline-dark" asp-action="Cadastrar">Cadastrar</a>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantidadeEstq)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Situacao)
            </th>
            <th>
                Ações
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuantidadeEstq)
                </td>
                <td>
                    @item.Preco.ToString("C")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Autor)
                </td>
                @if (item.Situacao == "H")
                {
                    <td>
                        Habilitado<br />
                        <a asp-action="Desabilitar" asp-route-id="@item.Id" class="btn btn btn-outline-warning btn-sm"
                           onclick="return confirm('Deseja realmente desabilitar esse livro?')">Desabilitar</a>
                    </td>
                }
                else
                {
                    <td>
                        Desabilitado<br />
                        <a asp-action="Habilitar" asp-route-id="@item.Id" class="btn btn-outline-success btn-sm"
                           onclick="return confirm('Deseja realmente habilitar esse livro?')">Habilitar</a>
                    </td>
                }
                <td>
                    <a asp-action="Atualizar" asp-route-id="@item.Id" class="btn btn-info btn-sm">Editar</a>

                    <a asp-action="EditImage" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Alterar imagem</a>

                    <a asp-action="Detalhes" asp-route-id="@item.Id" class="btn btn-info btn-sm">Detalhes</a>
                </td>
            </tr>
        }
    </tbody>
</table>
